<mat-toolbar color = "accent">    
    <a href="./index.html"> <img class="navbrand" src="./assets/images/LOGOBOMBAESTEREO NEGRO.png" alt="logo" > </a>
   <span class="example-spacer"></span>  
   <a mat-button href="index.html">HOME</a> 
   <a mat-button href="./fotos/index.html">FOTOS </a> 
   <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
     <mat-icon>favorite</mat-icon>
   </button>
   <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button>
 </mat-toolbar>
